
.body {
    background-image: url("src/back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
.divisor{

    border: 2px
    solid rgb(5, 5, 5);
    height: 2px; 
    background-color:rgb(253, 253, 250);

}
.container{
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bi{
    align-items: start;
    
    font-size: 35px;
    color: blue;
    text-align: end;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 11;
    animation: action 1s infinite alternate;
}
